{% extends 'basecompetition.html' %}

{% block main %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="form-signup">
                <h2 class="form-signin-heading">Subir un video</h2>
                <label for="inputFirstName" class="sr-only">Nombres</label>
                <input type="text" id="inputFirstName" class="form-control" placeholder="Nombres" required=""
                       autofocus="true">
                <br>
                <label for="inputSurname" class="sr-only">Apellidos</label>
                <input type="text" id="inputSurname" class="form-control" placeholder="Apellidos" required="">
                <br>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                <br>
                <label for="inputVideo" class="sr-only">Video</label>
                <input type="file" id="inputVideo" class="form-control" placeholder="Video" required="">
                <br>
                <label for="inputMessage" class="sr-only">Descripción del video</label>
                <input type="text" id="inputMessage" class="form-control" placeholder="Descripción del video" required="">
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar video</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}