{% extends 'basecompetition.html' %}

{% block main %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="form-signup" action="{%url 'addvideo'%}" enctype="multipart/form-data" method="post">
                <h2 class="form-signin-heading">Subir un video</h2>
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar video</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}