{% extends '../base.html' %}

{% block main %}
<br>
<br>
<br>
<form method="post">
    {% csrf_token %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="form-signup">
                <h2 class="form-signin-heading">Crear cuenta</h2>
                <label for="inputFirstName" class="sr-only">Nombres</label>
                <input type="text" id="inputFirstName" name="first_name" class="form-control" placeholder="Nombres" required=""
                       autofocus="true">
                <br>
                <label for="inputSurname" class="sr-only">Apellidos</label>
                <input type="text" id="inputSurname" name="last_name"  class="form-control" placeholder="Apellidos" required="">
                <br>
                <label for="inputUsername" class="sr-only">Usuario</label>
                <input type="text" id="inputUsername" name="username"  class="form-control" placeholder="Usuario" required="">
                <br>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="email"  class="form-control" placeholder="Email" required="" autofocus="">
                <br>
                <label for="inputPassword" class="sr-only">Contraseña</label>
                <input type="password" id="inputPassword" name="password1"  class="form-control" placeholder="Contraseña" required="">
                <br>
                <label for="inputPassword2" class="sr-only">Confirmar Contraseña</label>
                <input type="password" id="inputPassword2" name="password2"  class="form-control" placeholder="Confirme contraseña"
                       required="">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="acepto-terminos" required="required"> Acepto los términos y
                        condiciones
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Crear cuenta</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div> <!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</form>


{% endblock %}
