{% extends 'base.html' %}

{% block main %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Smart Tools</h1>
        <p>El aprovisionamiento de software como servicio (SaaS) es el mecanismo que permite proporcionar innovación
            constantemente. La plataforma de SMART TOOLS ofrece una manera segura, de confianza y de bajo costo de
            proporcionar soluciones de SaaS de uno y varios inquilinos.
        <p><a class="btn btn-primary btn-lg" href="{% url 'register'%}" role="button">Crear cuenta »</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Valores agregados</h2>
            <p>El lanzamiento del programa de socios de SaaS de SMART TOOLS mundial presenta una serie de beneficios
                diseñados
                para ayudarle a crear y ampliar soluciones de SaaS en SMART TOOLS. A medida que su negocio evolucione,
                SMART TOOLS
                estará a su lado para proporcionarle el soporte empresarial y técnico que necesita.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Valores agregados</h2>
            <p>Los beneficios se estructuran en un ciclo de vida de madurez: Aprendizaje, Desarrollo y Ampliación. A
                continuación se muestran los beneficios que ofrecemos en cada fase del ciclo de vida: aprendizaje,
                desarrollo y ampliación.</p>
            <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Valores agregados</h2>
            <p>En la fase Aprendizaje, dispondrá de acceso a contenido SaaS de capacitación empresarial y técnica, como
                artículos, documentos técnicos y arquitectura de referencia. Los webcasts del programa de socios de SaaS
                contienen videos breves que resumen y amplían el contenido de capacitación empresarial y técnica.</p>
            <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>© 2016 Smart Tools S.A.</p>
    </footer>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}